<?php
/**
 * @var $block \Kowal\WFirma\Block\InvoiceLink
 */
?>
<p class="invoice-link-wraper" style="padding: 5px; margin: 4px; text-align: center; border: solid 1px #ddd;">
    <a class="invoice-link" href="<?php echo $block->getBaseUrl();?>invoice/pdf/download/id/<?php echo $block->getLink();?>"> Pobierz Fakturę </a>
</p>