<button id="kowal-admin-order-button" type="button" class="action-default">Przenieś stany na dzień wysyłki</button>

<script type="text/javascript">
    require(['jquery', 'mage/url', 'Magento_Ui/js/modal/alert'], function($, url, alert) {
        $('#kowal-admin-order-button').on('click', function() {
            var orderId = window.order && window.order.entity_id;
            if (!orderId) {
                alert({
                    title: 'Błąd',
                    content: 'Nie można pobrać ID zamówienia.',
                    actions: {
                        always: function(){}
                    }
                });
                return;
            }
            $.ajax({
                url: url.build('kowal_wfirma/order/exec'),
                type: 'GET',
                data: { order_id: orderId },
                success: function(response) {
                    alert({
                        title: 'Informacja',
                        content: response.message,
                        actions: {
                            always: function(){}
                        }
                    });
                }
            });
        });
    });
</script>