<form id="dokument_mag" method="post" action="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/pw/save')?>">
    <input name="form_key" type="hidden" value="<?php echo $block->formKey->getFormKey();?>">
    <div class="entry-edit form-inline">
    <div class="fieldset-wrapper"   data-level="0" data-index="general">
        <div class="fieldset-wrapper-title"  tabindex="-1">
            <strong class="title">
                <span>Dane dokumentu PW</span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content ">
            <fieldset class="admin__fieldset" >
                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                            <span>Firma</span>
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <select class="admin__control-select" name="store" required="required" id="store" data-action="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/pw/nowy/store/_store_')?>">
                            <option value="0" <?php if($block->getSelectedStoreId() == 0){ ?>selected="selected"<?php } ?> >Wybierz Firmę</option>
                            <?php if($firmy = $block->getFirmy()){
                                foreach ($firmy as $firma) {
                                    $stores = explode(",",$firma->getStoreIdMagento());
                                    $store_id = reset($stores);
                                    ?>

                                    <option value="<?= $store_id;?>" <?php if($block->getSelectedStoreId() == $store_id){ ?>selected="selected"<?php } ?> ><?= $firma->getNazwaFirmy();?></option>

                            <?php }} ?>
                        </select>
                        <p>Wybież firmę dla której wczytają sie magazyny</p>
                    </div>
                </div>
                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                            <span>Magazyn wFirma</span>
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <select class="admin__control-select" name="magazyn" required="required" id="magazyn">
                            <?php if($options = $block->magazynyWfirma->toArray()){
                                foreach ($options as $code => $name ){?>
                                    <option value="<?=$code?>"><?=$name?></option>
                                <?php }} ?>
                        </select>
                        <p>Wybież magazyn do którego zostaną dodane nowe ilości</p>
                    </div>
                </div>

                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="import">
                            <span>Wklej z excela produkty do przyjęcia</span>
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <textarea class="admin__control-textarea" name="import" cols="15" rows="2" aria-describedby="notice-IMEATY6" id="import"></textarea>
                        <p>Wklej dwie kolumny bez nagłówków: SKU, Ilosć</p>
                    </div>
                </div>

                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <button class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" id="submit">Zapisz</button>
                    </div>
                </div>
        </div>
    </div>
</div>


</form>
<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui"
    ], function($){
        "use strict";

        $('#dokument_mag').submit(function(e){
            e.preventDefault();
            $("#submit").attr("disabled", true);

            var form = $(this);

            $.ajax({
                url   : form.attr('action'),
                type  : form.attr('method'),
                data  : form.serialize(),
                success: function(response){
                    $("#submit").attr("disabled", false);
                    $("#import").val("");
                    alert(response);
                }
            });
            return false;
        });


        $('#store').change(function() {
            // set the window's location property to the value of the option the user has selected
            window.location = $(this).attr("data-action").replace("_store_", $(this).val());
        });

    });


</script>
