<form id="dokument_mag" method="post" action="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/wz/save')?>">
    <input name="form_key" type="hidden" value="<?php echo $block->formKey->getFormKey();?>">
    <div class="entry-edit form-inline">
        <div class="fieldset-wrapper"   data-level="0" data-index="general">
            <div class="fieldset-wrapper-title"  tabindex="-1">
                <strong class="title">
                    <span>Dane dokumentu WZ</span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content ">
                <fieldset class="admin__fieldset" >
                    <div class="admin__field"  data-index="import">
                        <div class="admin__field-label" >
                            <label for="magazyn">
                                <span>Magazyn wFirma</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <select class="admin__control-select" name="magazyn" required="required" id="magazyn">
                                <?php if($options = $block->magazynyWfirma->toArray()){
                                    foreach ($options as $code => $name ){?>
                                        <option value="<?=$code?>"><?=$name?></option>
                                    <?php }} ?>
                            </select>
                            <p>Wybież magazyn z którego zostaną wydane ilości</p>
                        </div>
                    </div>
                    <div class="admin__field"  data-index="contractor_name">
                        <div class="admin__field-label" >
                            <label for="contractor_name">
                                <span>Nazwa kontrachenta lub nazwa firmy</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <imput class="admin__control-input" name="contractor_name"   aria-describedby="notice-IMEATY6" id="contractor_name"></imput>
                            <p>Wpisz imię i nazwisko kontrachenta lub nazwę firmy</p>
                        </div>
                    </div>

                    <div class="admin__field"  data-index="contractor_address">
                        <div class="admin__field-label" >
                            <label for="contractor_address">
                                <span>Ulica lub nazwa miejscowości</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <imput class="admin__control-input" name="contractor_address"   aria-describedby="notice-IMEATY6" id="contractor_address"></imput>
                            <p>Wpisz nazwę ulicy numer domu oraz numer mieszkania</p>
                        </div>
                    </div>

                    <div class="admin__field"  data-index="contractor_postcode">
                        <div class="admin__field-label" >
                            <label for="contractor_postcode">
                                <span>Kod pocztowy</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <imput class="admin__control-input" name="contractor_postcode"   aria-describedby="notice-IMEATY6" id="contractor_postcode"></imput>
                            <p>Wpisz nazwę ulicy numer domu oraz numer mieszkania</p>
                        </div>
                    </div>

                    <div class="admin__field"  data-index="contractor_city">
                        <div class="admin__field-label" >
                            <label for="contractor_city">
                                <span>Miejscowość / poczta</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <imput class="admin__control-input" name="contractor_city"   aria-describedby="notice-IMEATY6" id="contractor_city"></imput>
                            <p>Wpisz nazwę miejscowości</p>
                        </div>
                    </div>

                    <div class="admin__field"  data-index="contractor_nip">
                        <div class="admin__field-label" >
                            <label for="contractor_nip">
                                <span>Numer NIP</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <imput class="admin__control-input" name="contractor_nip"   aria-describedby="notice-IMEATY6" id="contractor_nip"></imput>
                            <p>NIP firmy</p>
                        </div>
                    </div>

                    <div class="admin__field"  data-index="import">
                        <div class="admin__field-label" >
                            <label for="import">
                                <span>Wklej z excela produkty do wydania</span>
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <textarea class="admin__control-textarea" name="import" cols="15" rows="2" aria-describedby="notice-IMEATY6" id="import"></textarea>
                            <p>Wklej dwie kolumny bez nagłówków: SKU, Ilosć</p>
                        </div>
                    </div>

                    <div class="admin__field"  data-index="import">
                        <div class="admin__field-label" >
                            <label for="magazyn">
                            </label>
                        </div>
                        <div class="admin__field-control" >
                            <button class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" id="submit">Zapisz</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>


</form>
<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui"
    ], function($){
        "use strict";

        $('#dokument_mag').submit(function(e){
            e.preventDefault();
            $("#submit").attr("disabled", true);

            var form = $(this);

            $.ajax({
                url   : form.attr('action'),
                type  : form.attr('method'),
                data  : form.serialize(),
                success: function(response){
                    $("#submit").attr("disabled", false);
                    $("#import").val("");
                    alert(response);
                }
            });
            return false;
        });

    });


</script>
