<form id="dokument_mag" method="post" action="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/stock/save')?>">
    <input name="form_key" type="hidden" value="<?php echo $block->formKey->getFormKey();?>">
    <div class="entry-edit form-inline">
    <div class="fieldset-wrapper"   data-level="0" data-index="general">
        <div class="fieldset-wrapper-title"  tabindex="-1">
            <strong class="title">
                <span>Pobierz stany magazynowe</span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content ">
            <fieldset class="admin__fieldset" >
                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                            <span>Firma</span>
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <select class="admin__control-select" name="store" required="required" id="store" data-action="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/stock/download/store/_store_')?>">
                            <option value="0" <?php if($block->getSelectedStoreId() == 0){ ?>selected="selected"<?php } ?> >Wybierz Firmę</option>
                            <?php if($firmy = $block->getFirmy()){
                                foreach ($firmy as $firma) {
                                    $stores = explode(",",$firma->getStoreIdMagento());
                                    $store_id = reset($stores);
                                    ?>

                                    <option value="<?= $store_id;?>" <?php if($block->getSelectedStoreId() == $store_id){ ?>selected="selected"<?php } ?> ><?= $firma->getNazwaFirmy();?></option>

                            <?php }} ?>
                        </select>
                        <p>Wybież firmę dla której wczytają sie magazyny</p>
                    </div>
                </div>
                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                            <span>Magazyn wFirma</span>
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <select class="admin__control-select" name="magazyn" required="required" id="magazyn">
                            <?php if($options = $block->magazynyWfirma->toArray()){
                                foreach ($options as $code => $name ){?>
                                    <option value="<?=$code?>"><?=$name?></option>
                                <?php }} ?>
                        </select>
                        <p>Wybież magazyn z którego pbrać stany</p>
                    </div>
                </div>



                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <button class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" id="submit">Download</button>
                    </div>
                </div>
        </div>
    </div>
</div>


</form>


<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui"
    ], function($){
        "use strict";

        $('#dokument_mag').submit(function(e) {
            e.preventDefault();
            $("#submit").attr("disabled", true);
            var fileName = "stany.csv";
            var form = $(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                success: function(response) {
                    try {
                        // Enable the submit button
                        $("#submit").attr("disabled", false);
                        // Hide the form
                        $("#dokument_mag").hide();

                        // Convert the Byte Data to BLOB object.
                        var blob = new Blob([response], { type: "application/octet-stream" });

                        // Check the Browser type and download the File.
                        var isIE = !!document.documentMode;
                        if (isIE) {
                            window.navigator.msSaveBlob(blob, fileName);
                        } else {
                            var url = window.URL || window.webkitURL;
                            var link = url.createObjectURL(blob);
                            var a = $("<a />", {
                                href: link,
                                download: fileName
                            }).appendTo("body");
                            a[0].click();
                            a.remove();
                            window.URL.revokeObjectURL(link); // Clean up the URL object
                        }
                    } catch (error) {
                        console.error("An error occurred while processing the response:", error);
                        alert("Wystąpił błąd podczas przetwarzania pliku. Spróbuj ponownie później.");
                    }
                },
                error: function(xhr, status, error) {
                    console.error("AJAX error:", status, error);
                    alert("Wystąpił błąd podczas przesyłania formularza. Spróbuj ponownie później.");
                },
                complete: function() {
                    // Always enable the submit button when the request completes
                    $("#submit").attr("disabled", false);
                }
            });

            return false;
        });



        $('#store').change(function() {
            // set the window's location property to the value of the option the user has selected
            window.location = $(this).attr("data-action").replace("_store_", $(this).val());
        });

    });


</script>
