.data-grid tr.wyroznij td {
  background-color: #fff689;
}
.data-grid tr.komplet td {
  background-color: #c3e7ff;
}
.data-grid tr.wyroznij.spakowane td,
.data-grid tr.wyroznij.spakowane.komplet td,
.data-grid tr.komplet.spakowane td,
.data-grid tr.spakowane td {
  background-color: #c2ffeb;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}