<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php if ($item = $block->getItem()) : ?>
    <table class="qty-table">
        <tr>
            <th><?= $block->escapeHtml(__('Ordered')); ?></th>
            <td><?= (float) $item->getQtyOrdered() ?></td>
        </tr>

        <?php if ((float)$item->getQtyInvoiced()) : ?>
            <tr>
                <th><?= $block->escapeHtml(__('Invoiced')); ?></th>
                <td><?= (float) $item->getQtyInvoiced() ?></td>
            </tr>
        <?php endif; ?>



        <?php if ((float)$item->getQtyRefunded()) : ?>
            <tr>
                <th><?= $block->escapeHtml(__('Refunded')); ?></th>
                <td><?= (float) $item->getQtyRefunded() ?></td>
            </tr>
        <?php endif; ?>

        <?php if ((float)$item->getQtyCanceled()) : ?>
            <tr>
                <th><?= $block->escapeHtml(__('Canceled')); ?></th>
                <td><?= (float) $item->getQtyCanceled() ?></td>
            </tr>
        <?php endif; ?>

        <?php  if ((float)$item->getQtyProduction()) : ?>
        <tr>
            <th><?= $block->escapeHtml(__('Produkcja')); ?></th>
            <td><?= (float) $item->getQtyProduction() ?></td>
        </tr>
        <?php   endif; ?>

        <?php  if ((float)$item->getQtyReserved()) : ?>
        <tr>
            <th><?= $block->escapeHtml(__('Rezerwacja')); ?></th>
            <td><?= (float) $item->getQtyReserved() ?></td>
        </tr>
        <?php   endif; ?>

        <?php if ((float)$item->getQtyCompleted()) : ?>
        <tr>
            <th><?= $block->escapeHtml(__('Przygotowane')); ?></th>
            <td><?= (float) $item->getQtyCompleted() ?></td>
        </tr>
        <?php endif; ?>

        <?php if ((float)$item->getQtyPack()) : ?>
        <tr>
            <th><?= $block->escapeHtml(__('Spakowane')); ?></th>
            <td><?= (float) $item->getQtyPack() ?></td>
        </tr>
        <?php endif; ?>


        <?php if ((float)$item->getQtyShipped()) : ?>
            <tr>
                <th><?= $block->escapeHtml(__('Shipped')); ?></th>
                <td><?= (float) $item->getQtyShipped() ?></td>
            </tr>
        <?php endif; ?>

    </table>
<?php endif; ?>
