<?php /** @var \Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer $block */ ?>


<?php $_item = $block->getItem() ?>
<?php $block->setPriceDataObject($_item) ?>
<tr>
    <?php $i = 0;
    $columns = $block->getColumns();
    $lastItemNumber = count($columns) ?>

    <?php foreach ($columns as $columnName => $columnClass): ?>
        <?php $i++; ?>

        <td class="<?= /* @noEscape */
        $columnClass ?><?= /* @noEscape */
        ($i === $lastItemNumber ? ' last' : ''); echo  " ".$columnName; ?>" >
            <?php
            switch($columnName) {
                case 'status_realizacji':
                    $value = $_item->getStatusRealizacji();
                    break;
                default:
                    $value = /* @escapeNotVerified */ $block->getColumnHtml($_item, $columnName);
            }
            echo $value;
            ?>
        </td>
    <?php endforeach; ?>

</tr>
