<?php
/**
 * @var Kowal\WFirma\Block\Order\Grid\Action $block
 * @var Magento\Sales\Model\Order $order
 */
?>
<?php
$order = $this->getData('order');
$viewModel = $block->getData('viewModelPrintInvoice');
?>

<?php if ($order !== null): ?>
    <a href="<?= $this->escapeHtml($this->getViewUrl($order)); ?>" class="action view">
        <span><?= $this->escapeHtml(__('View Order')); ?></span>
    </a>
    <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($order->getEntityId())): ?>
        <a href="#" data-post='<?= /* @escapeNotVerified */
        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)->getPostData($block->getReorderUrl($order))
        ?>' class="action order">
            <span><?= $this->escapeHtml(__('Reorder')); ?></span>
        </a>
        <?php if ($order->hasInvoices()): ?>
            <?php foreach ($order->getInvoiceCollection() as $_invoice): ?>
                <a href="<?= $block->escapeUrl($viewModel->getPrintInvoiceUrl($_invoice)) ?>"
                   class="action print"
                   target="_blank"
                   rel="noopener">
                    <span><?= $block->escapeHtml(__('Download invoice')) ?></span>
                </a>
            <?php endforeach; ?>
        <?php else: ?>
            <span><?= $block->escapeHtml(__('Lack of invoice')) ?></span>
        <?php endif ?>
    <?php endif; ?>

<?php endif; ?>


