<?php $orders =  $block->getOrders(); ?>

<form id="dokument_mag" method="post" action="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/zpm/saveMass')?>">
    <input name="form_key" type="hidden" value="<?php echo $block->formKey->getFormKey();?>">
    <div class="entry-edit form-inline">
    <div class="fieldset-wrapper"   data-level="0" data-index="general">
        <div class="fieldset-wrapper-title"  tabindex="-1">
            <strong class="title">
                <span>Nowe Zlecenie Produkcyjne</span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content ">
            <fieldset class="admin__fieldset" >
<!--                <div class="admin__field"  data-index="import">-->
<!--                    <div class="admin__field-label" >-->
<!--                        <label for="magazyn">-->
<!--                            <span>Magazyn wFirma</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="admin__field-control" >-->
<!--                        <select class="admin__control-select" name="magazyn" required="required" id="magazyn">-->
<!--                            --><?php //if($options = $block->magazynyWfirma->toArray()){
//                                foreach ($options as $code => $name ){?>
<!--                                    <option value="--><?//=$code?><!--">--><?//=$name?><!--</option>-->
<!--                                --><?php //}} ?>
<!--                        </select>-->
<!--                        <p>Wybież magazyn w którym wykonamć rezerwacje</p>-->
<!--                    </div>-->
<!--                </div>-->
<!---->
<!--                <div class="admin__field"  data-index="import">-->
<!--                    <div class="admin__field-label" >-->
<!--                        <label for="magazyn">-->
<!--                            <span>Magazyn kompletacji</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="admin__field-control" >-->
<!--                        <select class="admin__control-select" name="magazyn_kompletacji" required="required" id="magazyn_kompletacji">-->
<!--                            --><?php //if($options = $block->magazynyWfirma->toArray()){
//                                foreach ($options as $code => $name ){?>
<!--                                    <option value="--><?//=$code?><!--" >--><?//=$name?><!--</option>-->
<!--                                --><?php //}} ?>
<!--                        </select>-->
<!--                        <p>Wybież magazyn do którego zostaną przeniesione produktu które są już na stanie</p>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="admin__field"  data-index="import">
                    <div class="admin__field-label" >
                        <label for="magazyn">
                        </label>
                    </div>
                    <div class="admin__field-control" >
                        <button class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" id="submit">Zapisz i pobierz Zlecenie Produkcyjne</button>
                    </div>
                </div>
        </div>
    </div>
</div>
</form>



<div class="admin__data-grid-wrap" data-role="grid-wrapper">
    <table class="data-grid data-grid-draggable" data-role="grid">
        <thead>
        <tr>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Data</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Numer Zamówienia</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >SKU</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Nazwa Bazowa</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Rozmiar</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Stan Magazyn Główny</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Ilość zamówiona</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Ilość do kompletacji</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content" >Ilość do produkcji</span>
            </th>

        </tr>
        </thead>
        <tbody>

        <?php
        if(is_array($orders)){
        foreach ($orders as $order ){ ?>
        <?php if(is_array($order['products'])){
            foreach ($order['products'] as $product ){ ?>

        <tr class="data-row"  data-repeat-index="0">
            <td class="data-grid-actions-cell"><?= date('Y-m-d H:i:s');?></td>
            <td  class="data-grid-actions-cell"><?= $order['increment_id'];?></td>
            <td class=""><div class="data-grid-cell-content"><?= $product['sku'];?></div></td>
            <td class="data-grid-actions-cell"><?= $product['name'];?></td>
            <td class="data-grid-actions-cell"><?= $product['parametry'];?></td>
            <td class="data-grid-actions-cell"><?= $product['quantity_instock'];?></td>
            <td class="data-grid-actions-cell"><?= $product['quantity_ordered'];?></td>
            <td class="data-grid-actions-cell"><?= $product['quantity_reserved'];?></td>
            <td class="data-grid-actions-cell"><?= $product['quantity_produced'];?></td>
        </tr>
        <?php }}}} ?>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui"
    ], function($){
        "use strict";

        $('#dokument_mag').submit(function(e){
            e.preventDefault();
            $("#submit").attr("disabled", true);
            var fileName = "zlecenie.csv";
            var form = $(this);
            var url = "Files/" + fileName;

            $.ajax({
                url   : form.attr('action'),
                type  : form.attr('method'),
                data  : form.serialize(),
                success: function(response){

                    $("#submit").attr("disabled", false);
                    $("#dokument_mag").hide();

                    //Convert the Byte Data to BLOB object.
                    var blob = new Blob([response], { type: "application/octetstream" });

                    //Check the Browser type and download the File.
                    var isIE = false || !!document.documentMode;
                    if (isIE) {
                        window.navigator.msSaveBlob(blob, fileName);
                    } else {
                        var url = window.URL || window.webkitURL;
                        var link = url.createObjectURL(blob);
                        var a = $("<a />");
                        a.attr("download", fileName);
                        a.attr("href", link);
                        $("body").append(a);
                        a[0].click();
                        $("body").remove(a);
                    }

                }
            });
            return false;
        });

    });


</script>
