<?php header('Access-Control-Allow-Origin: *'); ?>

<fieldset class="admin__fieldset">
    <div class="admin__field">
        <div class="admin__field-label">
            <label for="search_by_sku">
                <span>Wpisz lub skanuj:</span>
            </label>
        </div>
        <div class="admin__field-control" style="display: flex;">
            <input class="admin__control-text" type="text" name="search_by_sku" id="search_by_sku" maxlength="500"
                   data-url="<?= /** @noEscape */
                   $block->getUrl('kowal_wfirma/Kompletacja/ViewNew') ?>">
            <button id="search_by_sku_button">Szukaj</button>

            <div class="admin__field-control" style="display: flex; margin-left: 30px;">

                <div class="admin__field admin__field-option">
                    <input type="checkbox" class="admin__control-checkbox" id="B27O3VV1" name="filtr_detal" value="1"
                           checked="checked">
                    <label class="admin__field-label" for="B27O3VV1">Detal</label>
                </div>
                <div class="admin__field admin__field-option">
                    <input type="checkbox" class="admin__control-checkbox" id="B27O3VV2" name="filtr_pozostale"
                           value="0">
                    <label class="admin__field-label" for="B27O3VV2">Pozostałe</label>
                </div>

            </div>
            <div id="respondERRORsearch_by_sku"></div>

        </div>
</fieldset>


<div id="respondKolekcja"></div>

<button id="display-all-results" style="display: none;">Pokaż wszystko <span id="dots"></span></button>

<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui",
        // "Kowal_WFirma/js/paho-mqtt-min"
    ], function ($) {
        "use strict";

        var interval = null;

        $.ajax({
            url: '<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/ViewNew') ?>',
            type: 'GET',
            success: function (response) {
                console.log(response)
                $("#respondKolekcja").html(response);
                rowAction();
                plusMinusAction();

            },
            error: function (response) {
                console.log(response)
                $("#respondERROR").html(response.responseText);
            }
        });


        // $('input[name="new_kopletacja"]').inputmask({"mask": ""});


        $('#search_by_sku_button').on("click", function () {
            console.log($('input[name="search_by_sku"]').val());


            // wyszukiwanie by order
            updateQty($('input[name="search_by_sku"]').attr("data-url"), {
                'szukana_wartosc': $('input[name="search_by_sku"]').val(),
                'filtr_detal': $('input[name="filtr_detal"]').prop("checked"),
                'filtr_pozostale': $('input[name="filtr_pozostale"]').prop("checked")
            });

            console.log($('input[name="filtr_detal"]').prop("checked"));
            $('#display-all-results').show();
            return false;
        });

        $('input[name="search_by_sku"]').on("click", function () {
            $(this).focus().select();
            return false;
        });

        $('input[name="search_by_sku"]').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $('#search_by_sku_button').click();
                return false;
            }
        });


        $('#display-all-results').on("click", function () {




            updateQty($('input[name="search_by_sku"]').attr("data-url"), {
                'szukana_wartosc': $('input[name="search_by_sku"]').val(),
                'filtr_detal': $('input[name="filtr_detal"]').prop("checked"),
                'filtr_pozostale': $('input[name="filtr_pozostale"]').prop("checked"),
                'bez_limitu': 1
            });


            return false;
        });


        function plusMinusAction() {
            $('.order-items-production-plus').on("click", function () {
                updateQty($(this).attr("data-url"), {
                    'new_kopletacja': $(this).attr("data-order"),
                    'typ': 'produkcja',
                    'dzialanie': 'plus'
                });
            });
            $('.order-items-reserved-plus').on("click", function () {
                updateQty($(this).attr("data-url"), {
                    'new_kopletacja': $(this).attr("data-order"),
                    'typ': 'przesuniecie',
                    'dzialanie': 'plus'
                });
            });
            $('.order-items-production-minus').on("click", function () {
                updateQty($(this).attr("data-url"), {
                    'new_kopletacja': $(this).attr("data-order"),
                    'typ': 'produkcja',
                    'dzialanie': 'minus'
                });
            });
            $('.order-items-reserved-minus').on("click", function () {
                updateQty($(this).attr("data-url"), {
                    'new_kopletacja': $(this).attr("data-order"),
                    'typ': 'przesuniecie',
                    'dzialanie': 'minus'
                });
            });
        }

        function updateQty(url, data) {

            if(data.bez_limitu == 1) {
                $('#display-all-results').attr('disabled', 'disabled');
                var dots = 0;
                interval = setInterval(type, 600);

                function type() {
                    if (dots < 3) {
                        $('#dots').append('.');
                        dots++;
                    } else {
                        $('#dots').html('');
                        dots = 0;
                    }
                }
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log('OK:' + response);
                    $("#respondKolekcja").html(response);
                    rowAction();
                    plusMinusAction();
                    if(data.bez_limitu == 1){
                        $('#display-all-results').hide();
                    }else{
                        clearInterval(interval); // stop the interval
                        $('#dots').html('');
                        $('#display-all-results').removeAttr('disabled');
                        $('#display-all-results').show();
                    }
                },
                error: function (response) {
                    console.log(response)
                    $("#respondERROR").html(response.responseText);
                }
            });
            $('input[name="search_by_sku"]').focus().select();
        }

        function deleteAll() {
            $('#delete-all').on("click", function () {
                $.ajax({
                    url: '<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/DeleteNewAll') ?>',
                    type: 'GET',
                    success: function (response) {
                        console.log(response)
                        $("#respondKolekcja").html(response);
                    },
                    error: function (response) {
                        console.log(response)
                        $("#respondERROR").html(response.responseText);
                    }
                });
                $('input[name="search_by_sku"]').focus().select();
            });
        }

        function rowAction() {
            $('.order-items-pack').on("click", function () {
                callAjaxPakuj({
                    'order_id': $(this).attr("data-order"),
                    'sku': $(this).attr("data-sku"),
                    'item_id': $(this).attr("data-item"),
                    'type': 'pakuj'
                });

            });
            $('.pakowanie_skanerem_button').on("click", function () {
                callAjaxPakuj({
                    'order_id': $(this).attr("data-order"),
                    'pakowanie_skanerem': $($(this).attr("data-field")).val(),
                    'type': 'pakuj_skanerem'
                });
            });
            $('input[name="pakowanie_skanerem"]').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    $($(this).attr("data-button")).click();
                    // $('input[name="pakowanie_skanerem"]').focus().select();
                    return false;
                }
            });

            $('.order-items-reset').on("click", function () {
                callAjaxPakuj({
                    'order_id': $(this).attr("data-order"),
                    'sku': $(this).attr("data-sku"),
                    'item_id': $(this).attr("data-item"),
                    'type': 'reset'
                });
            });
            $('.change-status-to-send').on("click", function () {
                changeOrderStatus({
                    'order_id': $(this).attr("data-order")
                });
            });

            $('.print-label-by-mqtt').on("click", function () {
                var url = $(this).attr("data-href");
                console.log(url);
                $('input[name="search_by_sku"]').focus().select();
                var _windows = window.open(url, 'NewWin', 'toolbar=no,status=no,width=500,height=500');


            });
        }

        function callAjaxPakuj(data) {
            console.log(data);
            $.ajax({
                url: '<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/Pakuj') ?>',
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log(response)
                    $("#respondKolekcja").html(response);
                    rowAction();
                    plusMinusAction();
                },
                error: function (response) {
                    console.log(response)
                    $("#respondERROR").html(response.responseText);
                }
            });


        }

        function changeOrderStatus(data) {
            $.ajax({
                url: '<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/Wyslij') ?>',
                type: 'POST',
                data: data,
                success: function (response) {
                    console.log(response)
                    $("#respondKolekcja").html(response);
                    rowAction();
                    plusMinusAction();
                },
                error: function (response) {
                    console.log(response)
                    $("#respondERROR").html(response.responseText);
                }
            });
        }

        function printLabelWithQRCode(data) {


            // Create a client instance
            var client = new Paho.MQTT.Client("iot.eclipse.org", Number(80), "/ws", "clientId");

            // set callback handlers
            client.onConnectionLost = onConnectionLost;
            client.onMessageArrived = onMessageArrived;

            // connect the client
            client.connect({onSuccess: onConnect});


        }

        // called when the client connects
        function onConnect() {
            // Once a connection has been made, make a subscription and send a message.
            console.log("onConnect");
            client.subscribe("World");
            message = new Paho.MQTT.Message("Hello");
            message.destinationName = "World";
            client.send(message);
        }

        // called when the client loses its connection
        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
                console.log("onConnectionLost:" + responseObject.errorMessage);
            }
        }

        // called when a message arrives
        function onMessageArrived(message) {
            console.log("onMessageArrived:" + message.payloadString);
        }

    });
</script>