<?php

/**
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */


$orders = $this->getData('items');
$printerName = $this->getData('printerName');
$search = $this->getData('search');
$czyDrukowacAutomatycznieKodQR = $this->getData('czyDrukowacAutomatycznieKodQR');
$liveLabelAttr = $this->getData('liveLabelAttr');

if(is_array($orders)){

    foreach ( $orders as $increment_id => $order){
?>
    <div class="fieldset-wrapper-title" tabindex="2">

        <strong  class="title" style="display: flex;flex-wrap: nowrap; justify-content: flex-start; gap: 20px;">
            <span >Numer Zamówienia: <?= $increment_id; ?></span>
            <span><?= $order['data_zakupu'];?></span>
            <div class="admin__field" style="display: flex; gap: 10px;" >
                <div class="admin__field-label" >
                    <label for="new_kopletacja">
                        <span>Skanuj:</span>
                    </label>
                </div>
                <div class="admin__field-control" style="display: flex;">
                    <input class="admin__control-text" type="text"  name="pakowanie_skanerem" data-button="#pakowanie_skanerem_button_<?= $increment_id; ?>" id="pakowanie_skanerem_<?= $increment_id; ?>" maxlength="500"  <?php if(!$order['status_kompletacji'] || $order['status_pakowania']){?>disabled="disabled"<?php } ?>>
                    <button class="pakowanie_skanerem_button" id="pakowanie_skanerem_button_<?= $increment_id; ?>" data-field="#pakowanie_skanerem_<?= $increment_id; ?>" data-order="<?= $increment_id; ?>" <?php if(!$order['status_kompletacji'] || $order['status_pakowania']){?>disabled="disabled"<?php } ?> >Pakuj</button>
                </div>
                <?php

                $scriptFocusPakuj  = <<<script
                        require([
                            'jquery'
                        ], function ($) {
                            "use strict";
                       
                            var isDisabled = $('#pakowanie_skanerem_{$increment_id}').prop('disabled');
                            if(!isDisabled){
                             $('#pakowanie_skanerem_{$increment_id}').focus().select();
                            }
                            
                        });
script;
                echo  /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptFocusPakuj, false);
                ?>


                <div id="respondERROR"></div>
            </div>
            <span>status: <?= $order['order_status_label'];?></span>
        </strong>
    </div>
<div class="admin__data-grid-wrap" data-role="grid-wrapper">
    <table class="data-grid data-grid-draggable" data-role="grid">
        <thead>
        <tr>
            <th class="data-grid-th"><span class="data-grid-cell-content">Produkt</span></th>

            <th class="data-grid-th"><span class="data-grid-cell-content">Zamówiono</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Z magazynu</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Z produkcji</span></th>
<!--            <th class="data-grid-th"><span class="data-grid-cell-content">Ilość przygotowana (mg + prod)</span></th>-->
            <th class="data-grid-th"><span class="data-grid-cell-content">Spakowano</span></th>
            <th class="data-grid-th" style="min-width: 150px;">
                <span class="data-grid-cell-action" >
                    <?php

                        if (str_contains((string)$order['shipment_label'], 'inpost')) {

                            $magenro_root_folder = '/var/www/virtual/smmash.pl/htdocs';
                            $local_folder = '/var/inpost_labels/';
                            // przykładowy plik
                            // kowal_inpostlabel/download/label/file/inpost_labels-1555160930-442264.pdf

                            $label_url = $block->getBaseUrl() . $order['shipment_label'];
                        } else {
                            $label_url = $order['shipment_label'];
                        }

                    ?>
                    <button class="action-default print-label-pdf" target="blank" data-url="<?php echo $label_url;?>" <?php if($order['shipment_label']){?>data-base64="<?= base64_encode(@file_get_contents($label_url)); ?>"<?php } ?> <?php if(!$order['shipment_label']){?>disabled="disabled"<?php } ?>>Label</button>
                    <a class="action-default print-label" target="blank" href="<?php echo $this->getUrl('sales/order/view', ['order_id' => $order['order_id']]); ?>" >Zamówienie</a>
                    <button class="action-default change-status-to-send" data-order="<?= $order['order_id']; ?>"  <?php if(!$order['status_pakowania']){?>disabled="disabled"<?php } ?>>Wyślij</button>

                </span></th>
            </tr>
        </thead>
        <tbody>
        <?php
            foreach ( $order['items'] as $item){

            ?>
        <tr class="data-row <?php if( $item['qty_ordered'] == $item['qty_pack']){ echo 'spakowane'; }?> <?php if(  $item['qty_ordered'] == $item['qty_completed'] ){ echo 'komplet'; }?> <?php if( $item['wyroznij'] || $search == $item['sku'] || $search == $item['ean']){ echo 'wyroznij'; } ?>" >
            <td <?php if( $item['wyroznij'] || $search == $item['sku'] || $search == $item['ean']){ ?>style="background-color: <?php if($item['bledny_produkt'] == 'brak-sku'){ echo "#ff0000;"; }else{ echo "#fff689;"; }?>"<?php } ?>><div class="data-grid-cell-content" ><?php echo $item['sku'];?><br><span style="font-size: 11px;"><?php echo $item['ean'];?><br/><?php echo $item['nazwa_bazowa'];?></span></div></td>

            <td <?php if($item['bledny_produkt'] == 'brak-sku'){ ?>style="background-color: #ff0000 !important;"<?php } ?>><div class="data-grid-cell-content" style="background-color: #eee; padding: 4px; text-align: center;"><?php echo $item['qty_ordered'];?></div></td>
            <td <?php if($item['bledny_produkt'] == 'brak-sku'){ ?>style="background-color: #ff0000 !important;"<?php } ?>><div style="display: flex; flex-wrap: nowrap; gap: 3px;"><button class="order-items-reserved-minus"  data-order="<?= $increment_id.'#'.$item['sku'].'#'.$item['item_id'];?>" data-url="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/SaveNew') ?>" <?php if(  $item['qty_reserved_completed'] == 0 || $item['qty_reserved'] == 0 || $item['qty_ordered'] == $item['qty_pack'] ){?>disabled="disabled"<?php } ?>>-</button><div class="data-grid-cell-content" style="background-color: #fff; border: solid 1px #eee; padding: 7px 2px;text-align: center;min-width: 46px;"><?php echo $item['qty_reserved'];?> / <?php echo $item['qty_reserved_completed'];?></div><button class="order-items-reserved-plus"  data-order="<?= $increment_id.'#'.$item['sku'].'#'.$item['item_id'];?>" data-url="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/SaveNew') ?>" <?php if(  $item['qty_ordered'] <= $item['qty_pack'] || $item['qty_reserved'] <= $item['qty_reserved_completed'] || $item['qty_reserved']  == 0 || $order['order_state'] != 'processing'){?>disabled="disabled"<?php } ?>>+</button></div></td>
            <td <?php if($item['bledny_produkt'] == 'brak-sku'){ ?>style="background-color: #ff0000 !important;"<?php } ?>><div style="display: flex; flex-wrap: nowrap; gap: 3px;"><button class="order-items-production-minus"  data-order="<?= $increment_id.'#'.$item['sku'].'#'.$item['item_id'];?>" data-url="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/SaveNew') ?>" <?php if(  $item['qty_production_completed'] == 0 || $item['qty_production'] == 0 || $item['qty_ordered'] == $item['qty_pack'] ){?>disabled="disabled"<?php } ?>>-</button><div class="data-grid-cell-content"  style="background-color: #fff; border: solid 1px #eee; padding: 7px 2px;text-align: center;min-width: 46px;"><?php echo $item['qty_production'];?> / <?php echo $item['qty_production_completed'];?> </div><button class="order-items-production-plus"  data-order="<?= $increment_id.'#'.$item['sku'].'#'.$item['item_id'];?>" data-url="<?= /** @noEscape */ $block->getUrl('kowal_wfirma/Kompletacja/SaveNew') ?>"  <?php if(  $item['qty_ordered'] <= $item['qty_pack'] || $item['qty_production'] <= $item['qty_production_completed'] || $item['qty_production']  == 0  || $order['order_state'] != 'processing'){?>disabled="disabled"<?php } ?>>+</button></div></td>
            <td <?php if($item['bledny_produkt'] == 'brak-sku'){ ?>style="background-color: #ff0000 !important;"<?php } ?>><div class="data-grid-cell-content" style="background-color: #eee; padding: 4px; text-align: center;"><?php echo $item['qty_pack'];?></div></td>
            <td <?php if($item['bledny_produkt'] == 'brak-sku'){ ?>style="background-color: #ff0000 !important;"<?php } ?>><div class="data-grid-cell-action" style="display: flex; flex-wrap: nowrap; gap: 3px;">
                <button class="order-items-pack"  data-order="<?= $increment_id; ?>" data-sku="<?php echo $item['sku'];?>" data-item="<?php echo $item['item_id'];?>" <?php if( $item['qty_ordered'] > $item['qty_completed'] || $item['qty_ordered'] == $item['qty_pack']){?>disabled="disabled"<?php } ?>>Pakuj</button>
                <button class="order-items-reset"  data-order="<?= $increment_id; ?>" data-sku="<?php echo $item['sku'];?>" data-item="<?php echo $item['item_id'];?>" <?php if( $item['qty_ordered'] > $item['qty_completed'] || $item['qty_ordered'] > $item['qty_pack']){?>disabled="disabled"<?php } ?>>Anuluj</button>
                <button class="action-default  print-label-by-mqtt" data-href="labellive://print?design=Label&variables=EAN:%27<?php echo $item['ean'];?>%27,SKU:%27<?php echo $item['sku'];?>%27,ORDER_ID:%27<?= $increment_id; ?>%27&printer=<?= $printerName; ?>&copies=1"  target="blank" _ data-order="<?= $increment_id; ?>" data-sku="<?php echo $item['sku'];?>" >QR</button>

            </div></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

</div>


<?php
    }


    $scriptPrintLabel  = <<<script
                        require([
                            'jquery',
                            "Kowal_WFirma/js/print.min"
                        ], function ($) {
                            "use strict";
                            
                            $('.print-label-pdf').on("click", function() {
                    
                    
                                const blobPdfFromBase64String = base64String => {
                                   const byteArray = Uint8Array.from(
                                     atob(base64String)
                                       .split('')
                                       .map(char => char.charCodeAt(0))
                                   );
                                  return new Blob([byteArray], { type: 'application/pdf' });
                                };
                                
                                const isIE11 = !!(window.navigator && window.navigator.msSaveOrOpenBlob); // or however you want to check it
                                
                                const printPDF = blob => {
                                   try {
                                     isIE11
                                       ? window.navigator.msSaveOrOpenBlob(blob, 'documents.pdf')
                                       : printJS(URL.createObjectURL(blob)); // http://printjs.crabbly.com/
                                   } catch (e) {
                                     throw PDFError;
                                   }
                                };
                                
                                var base64String = $(this).attr("data-base64");
                                
                                printPDF(blobPdfFromBase64String(base64String));
           
                 
                            });

                        });
script;
    echo  /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptPrintLabel, false);



}else{
    echo 'brak zamówień';
} ?>

<?php
if($czyDrukowacAutomatycznieKodQR > 0){
    if($czyDrukowacAutomatycznieKodQR == 1){
        $url = "labellive://print?design=Label&variables=EAN:%27{$liveLabelAttr['ean']}%27,SKU:%27{$liveLabelAttr['sku']}%27,ORDER_ID:%27{$liveLabelAttr['order_id']}%27&printer={$printerName}&copies=1";
    }
    if($czyDrukowacAutomatycznieKodQR == 2){
        $url = "labellive://print?design=Label-no-qr&variables=EAN:%27{$liveLabelAttr['ean']}%27,SKU:%27{$liveLabelAttr['sku']}%27&printer={$printerName}&copies=1";
    }
    $scriptStringSelect  = <<<script
require(['jquery'], function($) {
 
    var url = '{$url}';
    console.log(url);
    window.open(url,'NewWin','toolbar=no,status=no,width=500,height=500');
 
    window.focus();
    $('input[name="search_by_sku"]').focus().select();
 
});
script;
echo  /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptStringSelect, false); ?>

<?php } ?>
<div id="liveLabelHiddenPage"></div>
