<?php
$items = $block->getItems();
if( count($items)){ ?>

    <div class="fieldset-wrapper-title" tabindex="3">

        <strong  class="title">
            <span >Zapisane</span>

        </strong>
    </div>
    <div class="admin__data-grid-wrap" data-role="grid-wrapper">
    <table class="data-grid data-grid-draggable" data-role="grid">
        <thead>
        <tr>
            <th class="data-grid-th"><span class="data-grid-cell-content" >Order ID</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Sku</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Nazwa</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Ilość</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Z Magazynu</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Do Magazynu</span></th>
            </tr>
        </thead>
        <tbody>
        <?php
            foreach ($items as $item){
            ?>
        <tr class="data-row">
            <td><div class="data-grid-cell-content"><?php echo $item->getOrderId();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getSku();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getNazwa();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getIlosc();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getZMagazynu();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getDoMagazynu();?></div></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
<?php } ?>