<div class="admin__data-grid-wrap" data-role="grid-wrapper">
    <table class="data-grid data-grid-draggable" data-role="grid">
        <thead>
        <tr>
            <th class="data-grid-th"><span class="data-grid-cell-content">Typ</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Order ID</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Sku</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Nazwa</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Ilość</span></th>
            <th class="data-grid-th"><span class="data-grid-cell-content">Parametr</span></th>
            </tr>
        </thead>
        <tbody>
        <?php if($items = $block->getItems()){
            foreach ($items as $item){
            ?>
        <tr class="data-row">
            <td><div class="data-grid-cell-content"><?php echo $item->getTypZlecenia();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getOrderId();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getSku();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getNazwa();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getIlosc();?></div></td>
            <td><div class="data-grid-cell-content"><?php echo $item->getParametry();?></div></td>
        </tr>
        <?php }} ?>
        </tbody>
    </table>
</div>
